@import '../../style/variables.scss';

.pages {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .page, .current-page {
        // border: 1px solid lightgray;
        // border-radius: 100%;
        // padding: 5px 10px;
        // cursor: pointer;
        display: block;
        justify-content: center;
        align-self: center;
        text-align: center;
        width: 45px;
        height: 45px;
        padding: 10px;
        border: 1px solid #282828;;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        color: #282828;
        transition: background-color 0.1s ease-in-out;
        &:hover {
            background-color: lighten(#282828, 5%);
            color: lightgray;
            
        }
        
    }
    .current-page {
        border: 3px solid lightgray;
        font-weight: 700;
    }
}