@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.hero {
    min-height: 640px;
    background: url('../../resourses/img/Hero_bg.jpg')  center center/cover no-repeat;
    &__text {
        max-width: 670px;
        margin: 0 auto;
        padding-top: 181px;
    }
    &__title {
        color: $light;
        margin-bottom: 20px;
    }
 
    &__subtitle {
        color: $light;
        text-align: center;
        padding-top: 40px;
        margin-bottom: 20px;
       
    }
    &__btn {
        position: absolute;
        display: block;
        width: 120px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        background-image: none; 
        background-color: transparent;
        border: $light 1px solid;
        border-radius: 5px;
        transition: 1s ease-out;
        cursor: pointer;
        &:hover {
            background-color: $light
        } 
        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: $light;
            transition: 1s;
            &:hover {
                color: $dark;
            }
        }  
    }
}