@mixin before_dark-line {
    &:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: $dark;
    }
}
@mixin after_light-line {
    &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 1px;
        background-color: $light;
    }
}