@import './variables.scss';
@import './mixins.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
}

* {
  font-family: Merienda;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}
a {
  text-decoration: none;
}

@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/hero/hero.scss';
@import '../components/LogoDark/LogoDark.module.scss';
@import '../components/LogoLight/LogoLight.module.scss';
@import '../components/AboutUs/AboutUs.module.scss';
@import '../components/OurBest/OurBest.scss';
@import '../components/Cards/Cards.scss';
@import '../components/Promo/Promo.scss';
@import '../components/AboutIt/AboutIt.scss';
@import '../components/SortBlock/SortBlock.module.scss';
@import '../components/Pagination/Pagination.module.scss';