@import './variables.scss';
@import './mixins.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: Merienda;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}

@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/hero/hero.scss';
